<div class="navbar row shadow">
  <div class="col nowrap" style="width: 251px;">
      <div class="colorOffWhite" style="font-size: 24px"><i class="fa-solid fa-rocket colorOffWhite ms-4"></i> AngularTesting</div>
  </div>
  <div class="col">
    <button class="btn navbarBtn colorOffWhite">Hjem</button>
  </div>
  <div class="col">
    <button class="btn navbarBtn colorOffWhite">Filmer</button>
  </div>
  <div class="col">
    <button class="btn navbarBtn colorOffWhite nowrap">Tv-serie</button>
  </div>
  <div class="col ">
    <div class="d-flex justify-content-end">
      <span class="circle me-4"></span>
    </div>

  </div>
</div>