<div class="container mt-5">
  <div class="row justify-content-md-center align-items-center">

    <div class="col-md-auto p-5 roundedCorners" style="background-color:white">

      <div class="text-center">
        <i class="fa-solid fa-rocket fa-2xl colorGray mb-4 center"></i>
        <h1 class="colorDarkGray">AngularTesting</h1>
        <h4 class="colorGray mb-5">logg inn</h4>
      </div>

      <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">

        <div class="form-floating mb-4">
          <input type="email" class="form-control" id="input" aria-describedby="emailHelp" name="email"
            formControlName="email" placeholder="name@example.com">
          <label for="input" class="form-label text-bold">E-post</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
          <label for="password" class="form-label">Passord</label>
        </div>

        <div *ngIf="submitted && (email.errors || password.errors)" class="alert alert-danger mt-2">
          <div *ngIf="email.errors?.['required']">Fornavn er påkrevd</div>
          <div *ngIf="password.errors?.['required']">Passord er påkrevd</div>
        </div>

        <div class="row justify-content-md-between">

          <div class="col col-auto">
            <button type="button" (click)="goToRegister()" class="btn colorDarkGray"
              style="text-decoration: underline;font-weight: 500">Registrer</button>
          </div>

          <div class="col col-auto">
            <button type="submit" class="btn myBtnPrimary">Logg inn</button>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>