@import 'ngx-toastr/toastr';

:root {
  --torquise: rgb(165, 254, 225);
  --mediumTorquise: rgb(137, 203, 181);
  --darkTorquise: rgb(69, 102, 91);
  --darkGray: rgba(59, 59, 59);
  --gray: rgba(103, 103, 103);
  --lightBlue: rgb(80, 232, 255);
  --offwhite: rgb(247, 247, 247);
  --bluePurble: rgb(145, 152, 229);
  --darkBluePurble: rgb(119, 126, 198);
}

* {
  color: var(--darkGray);
  font-weight: 500;
}

.background {
  background-image: linear-gradient(to left, var(--torquise), var(--bluePurble));
}

.colorDarkGray {
  color: var(--darkGray);
}

.colorGray {
  color: var(--gray);
}

.colorOffWhite {
  color: var(--offwhite);
}

.colorMediumTorquise {
  color: var(--mediumTorquise);
}

.roundedCorners {
  border-radius: 5px;
}

.myBtnPrimary {
  color: var(--offwhite);
  background-color: var(--bluePurble);
}

.myBtnPrimary:focus {
  color: var(--offwhite) !important;
  background-color: var(--darkBluePurble) !important;
}

.myBtnPrimary:active {
  color: var(--offwhite);
  background-color: var(--darkBluePurble);
}

.myBtnPrimary:hover {
  color: var(--offwhite);
  background-color: var(--darkBluePurble);
}

.btnNoBorder {
  text-decoration: underline;
  font-weight: 500;
}

.imageBtn {
  border: none;
  background: none;
}

.navbarBtn {
  color: var(--offwhite);
  font-weight: 500;
  font-size: 20px;
  border: none;
  background: none;
}

.navbarBtn>* {
  color: var(--offwhite);
}

.navbarBtn:hover,
.navbarBtn:hover>* {
  color: var(--torquise);
}

.navbar {
  height: 60px;
  background-color: var(--darkGray);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle {
  padding: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.active,
.active:hover,
i.active {
  text-decoration: underline;
}